body {
    font-family: sans-serif;
}

#root {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 650px;
    padding: 0;
}

h2 {
    align-self: center;
    text-align: center;
}

h2 span {
    color: #f00;
    display: block;
    font-size: 0.5em;
}

.material-icons {
    font-size: 32px;
}

.add-task-holder {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

#add-task {
    flex-grow: 1;
    padding: 0 6px;
    height: 24px;
}

#add-btn {
    margin-left: 10px;
}

button {
    background: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 32px;
    padding: 0;
    width: 32px;
}

#list {
    border-top: 2px solid #000;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px 0 24px 4px;
}

#list li {
    align-items: center;
    cursor: all-scroll;
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
    padding: 6px;
}

.check-btn {
    border: 2px solid #000;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    margin-right: 14px;
}

.checked {
    background: #000;
    color: #fff;
}

.delete-btn {
    cursor: pointer;
    margin-left: auto;
}

.cat {
    height: 120px;
    margin: 30px auto;
}

.drag-zone {
    border: 2px dashed #ddd;
}